@page
@model CMM_Admin.Pages.Artifacts.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Artifact</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Artifact.Name" class="control-label"></label>
                <input asp-for="Artifact.Name" class="form-control"/>
                <span asp-validation-for="Artifact.Name" class="text-danger"></span>
            </div>
            @* <div class="form-group"> *@
            @*     <span class="text-danger">*</span> *@
            @*     <label asp-for="Artifact.ImagePath" class="control-label"></label> *@
            @*     <input asp-for="Artifact.ImagePath" class="form-control" /> *@
            @*     <span asp-validation-for="Artifact.ImagePath" class="text-danger"></span> *@
            @* </div> *@
            <div class="form-group">
                @* <label asp-for="Food.ImageData" class="control-label"></label> *@
                <span class="text-danger">*</span>
                <input type="file" id="file1" name="file1">
                @* <span asp-validation-for="Food.ImageData" class="text-danger"></span> *@
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Artifact.Description" class="control-label"></label>
                <input asp-for="Artifact.Description" class="form-control"/>
                <span asp-validation-for="Artifact.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

